@font-face {
    font-family:Hanson ;
    src: url(./fonts/Hanson-Bold.ttf);
}
@font-face {
    font-family:"Clash Display" ;
    src: url(./fonts/ClashDisplay-Variable.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg{
    background: url(image/bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 17px 0 17px 0;
    height: 100vh;
    width: 100vw;
    flex-wrap: wrap;
    position: relative;
}

/* logo  */
.trophy {
    position: absolute;
    top: 2rem;
    left: 0.7rem;
    width: 163px;
    height: 149.506px;
}

.left,.right {
    width: 50%;
    height: 100%;
}

/* left part  */
.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}
.logo {
    width: 268px;
    height: 287px;
    background-color: black;
}
.team-name {
    font-family: "Clash Display";
    font-size: 24px;
    color: #fff;
}

/* right part  */

.right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 7rem;
}

.heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading h1,h3 {
    font-family: Hanson;
}

.heading h1 {
    background: linear-gradient(183deg, #16FF11 65.9%, #066104 113.54%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 128px;
}
.heading h3 {
    color: #FFF;
    font-family: Clash Display;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

table{
    border-collapse: collapse !important;
    border: 2px solid #16FF12 !important;
    margin: 25px 0 !important;
    color: #000 !important;
    font-family: "Clash Display" !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: normal !important;
    text-align: left !important;
    padding: 8px !important;
    z-index: 999 !important;
}
table th {
    background-color: #16FF12 !important;
}
thead tr {
    text-align: left !important;
}
table,th,td {
    padding: 1rem !important;
}
tbody td {
    color: #FFF !important;
}


@media(max-width:920px){
    .bg{
        flex-wrap: nowrap;
    }

    .left{
        display: none;
    }
    .right{
        margin-top: 10rem;
        gap: 3rem;
    }
    .heading h3 {
        margin-top: -0.4rem;
        text-align: center;
    }
}
@media(max-width:700px){
    .heading h1 {
        font-size: 70px;
    }
    .heading h3{
        font-size: 17px;
        margin-top: -0.4rem;
    }
    table {
        font-size: 10px;
    }
    .trophy {
        transform: scale(0.6);
        left: 0.2rem;
        top: 1rem;
    }
    .right{
        gap: 2rem;
        margin-top: 12rem;
    }
}
